<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>rivalog</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.app.rivalog</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rivalog</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1Ijoia2lzc29pZCIsImEiOiJjbGQ4bDBudXAwMDE2M3dscDl1dDdvMzZsIn0.Ow3ZA6niwRn7zk-YmQwz3A</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Ironets like to access camera for add profile photo, vehical related documents and photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ironets require current location to display where is your current truck.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App requires background tracking</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ironets require current location to display where is your current truck.</string>
	<key>NSMotionUsageDescription</key>
	<string>App requires motion tracking</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ironets like to access photo library for add profile photo, vehical related documents and photos.</string>
	<key>Privacy – Photo Library Additions Usage Description</key>
	<string>Ironets like to access photo library for add profile photo, vehical related documents and photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>poppins-Bold.ttf</string>
		<string>poppins-Light.ttf</string>
		<string>poppins-Medium.ttf</string>
		<string>poppins-Regular.ttf</string>
		<string>poppins-SemiBold.ttf</string>
		<string>Lexend-Bold.ttf</string>
		<string>Lexend-ExtraBold.ttf</string>
		<string>Lexend-Light.ttf</string>
		<string>Lexend-Medium.ttf</string>
		<string>Lexend-Regular.ttf</string>
		<string>Lexend-SemiBold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CodePushDeploymentKey</key>
	<string>wubIqFTuCwg5nE3UYPOfxU_PY3wdNXaPwNE8p</string>
</dict>
</plist>
